@import '../../../styles/theme-variables.scss';

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: $shadow-btn;
    font-size: 0.7em;
    transition: background-color 500ms ease-in-out, 
                color 1500ms ease-in-out, 
                transform 500ms ease-in-out,
                font-weight 500ms ease-in-out;
    @include themify($themes) {
      background: themed('accent');
      color: themed('secondary');
    }
    @media (min-width: 800px) {
      font-size: 1em;
    }
    &:hover {
      transform: scale(1.1);
      font-weight: 700;
      @include themify($themes) {
        background: themed('secondary');
        color: themed('accent');
      }
    }
}
