@import './styles/theme-variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styles generales */
h1,
h2,
h3,
a,
li {
  line-height: 1;
  margin: 0;
}

h1 { font-size: $font-size-h1 }
h2 { font-size: $font-size-h2 }
h3 { font-size: $font-size-h3 }
body { font-size: $font-size-body }
a { font-size: $font-size-a;}
li { font-size: $font-size-body;}
@media (min-width: 800px) {
  h1 { font-size: $font-size-h1-800 }
  h2 { font-size: $font-size-h2-800 }
  h3 { font-size: $font-size-h3-800 }
  a { font-size: $font-size-a-800}
  body { font-size: $font-size-body-800 }
}

body {
  margin: 0;
  font-family: $font-family-first;
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

.home {
  position: relative;
  transition: background-color 500ms ease-in-out, color 1500ms ease-in-out;
  @include themify($themes) {
    background-color: themed('background');
    color: themed('text');
  }
}