@import '../../styles/theme-variables.scss';

.intro {
    position: relative;
    margin-top: 5em;
}

.intro__img,
.project__img {
    border-radius: 1em 1em;
    @include themify($themes) {
        box-shadow: themed('shadow');
    }
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 5.6em auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img,
    .project__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }   
    
    .section__subtitle--intro {
      display: inline-block;
    }
    
    .section__subtitle--intro,
    .section__subtitle--project {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}