@import '../../styles/theme-variables.scss';

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px;
  margin: 0 auto;
}

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg);
}

.flip-card__front, 
.flip-card__back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5em;
  box-shadow: $shadow-btn;
  transition: background-color 1500ms ease-in-out, color 1500ms ease-in-out;
}

.flip-card__front {
  @include themify($themes){
    background-color: themed('secondary');
    color: themed('text');
  }
}

.flip-card__back {
  @include themify($themes) {
    background: themed('secondary');
    color: themed('text');
    //transition: all 500ms ease-in-out;
  }
  transform: rotateY(180deg);
}