@import '../../styles/theme-variables.scss';

.card {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.5em;
  box-shadow: $shadow-btn;
  transition: background-color .5s ease-in-out,
              color 1500ms ease-in-out,
              text-shadow 1500ms ease-in-out;
  @include themify($themes){
    background-color: themed('text');
    color: themed('background');
    text-shadow: themed('primary') 1px 0 3px;
  }
  &__first {
    padding: 0.3em;
    &--image {
      border-radius: 0.5em 0.5em 0 0;
      margin-bottom: 3em;
    }
  }
  &__second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    border-radius: 0.5em;
    bottom: 0;
    height: 3.3em;
    //height: 100%;
    transition: height .5s ease-in-out,
                background-color .5s ease-in-out;
    padding: 1em;
    overflow: hidden;
    @include themify($themes) {
      background-color: themed('text');
    }
    &--title {
      @include themify($themes) {
        border-radius: 0.3em;
        background-color: themed('primary');
        text-shadow: themed('text') 1px 0 5px;
      }
    }
    &--tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      & p {
        margin: 0;
        padding: 0.1em 0.3em;
        border-radius: 0.3em;
        transition: background-color 500ms ease-in-out,
                    color 1500ms ease-in-out,
                    text-shadow 1500ms ease-in-out;
        @include themify($themes) {
          background-color: themed('primary');
          color: themed('secondary');
          text-shadow: themed('text') 1px 0 5px;
        }
      }
    }
  }
}

.card:hover > .card__second {
  height: 100%;
}