@import '../../styles/theme-variables.scss';


.portfolio-item {
  padding: 0 2em;
  max-width: 1000px;
  margin: 0 auto;
  &__header {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 5em;
    padding: 2.5em;
    &--image {
      width: 100%;
      border-radius: 0.5em;
      transition: box-shadow 1500ms ease-in-out;
      @include themify($themes) {
        box-shadow: themed('shadow');
      }    
    }
    @media (min-width: 600px) {
      max-width: 400px;
    }
  }
  &__text {
    max-width: 600px;
    padding: 3em;
    margin: 0 auto;
    border-radius: 86% 14% 93% 7% / 10% 90% 10% 90%;
    transition: background-color 500ms ease-in-out, color 1500ms ease-in-out;
    @include themify($themes) {
      background-color: themed('secondary');
    }
  }
  &__image {
    margin-top: 2em;
    border-radius: 0.5em;
    transition: box-shadow 1500ms ease-in-out;
    @include themify($themes) {
      box-shadow: themed('shadow');
    }
  }
  &__tags {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding: 1.5em 3em;
    border-radius: 37% 63% 39% 61% / 82% 31% 69% 18%;
    transition: background-color 500ms ease-in-out, color 1500ms ease-in-out;
    @include themify($themes) {
      background-color: themed('accent');
    }
    &--title {
      margin: 0 auto;
      @include themify ($themes) {
        color: themed('text');
        text-shadow: themed('background') 1px 0 5px;
      }
    }
    &--tag {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.5em;
      margin-top: 1em;
      & p {
        margin: 0;
        padding: 0.1em 0.3em;
        border-radius: 0.3em;
        transition: background-color 500ms ease-in-out,
                    color 1500ms ease-in-out,
                    text-shadow 1500ms ease-in-out;
        @include themify($themes) {
          background-color: themed('secondary');
          color: themed('text');
          text-shadow: themed('primary') 1px 0 5px;
        }
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;

    margin-top: 3em;
    padding: 1.5em 3em;
    border-radius: 86% 14% 93% 7% / 10% 90% 10% 90%;
    transition: background-color 500ms ease-in-out, color 1500ms ease-in-out;
    @include themify($themes) {
      background-color: themed('secondary');
    }
    &--title {
      margin: 0 auto;
      @include themify ($themes) {
        color: themed('text');
        text-shadow: themed('accent') 1px 0 5px;
      }
    }
    &--link {
      display: flex;
      gap: 1em;
      margin-top: 1em;
      justify-content: center;
      & a {
        @include themify ($themes) {
          color: themed('text');
        }
      }
    }
  }
}