@import '../../styles/theme-variables.scss';

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5em auto;
  &__title {
    margin-bottom: .25em;
    font-weight: $font-weight-reg;
    & strong {
      display: block;
    }
    @include themify($themes) {
      text-shadow: themed('accent') 1px 0 5px;
    }   
  }
  &__subtitle {
    display: inline-block;
    font-family: $font-family-second;
    font-size: $font-size-body;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 1.25em 3em;
    border-radius: 89% 11% 92% 8% / 13% 70% 30% 87%;
    transition: background-color 500ms ease-in-out, 
                color 1500ms ease-in-out,
                text-shadow 1500ms ease-in-out;
    @include themify($themes) {
      background-color: themed('accent');
      color: themed('secondary');
      text-shadow: themed('text') 1px 0 5px;
    }
  }
  &__image {
    width: 70%;
    margin-top: 2em;
    border-radius: 1em;
    transition: box-shadow 1500ms ease-in-out;
    @include themify($themes) {
        box-shadow: themed('shadow');
    }    
  }
  @media (min-width: 850px) {
    min-height: calc(60vh + 100px);
    display: grid;
    align-content: center;
    width: min-content;
    margin-top: 5.5em;
    grid-column-gap: 2em;
    grid-template-areas: 
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    &__subtitle {
      display: inline-block;
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -3.5em;
      width: calc(100% + 5.5em);
    }
    &__image {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
    }
  }
}

.project-page__image {
  display: none;
  @media (min-width: 600px) {
    display: initial;
  }
}

.portfolio__links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 3em;
  @include themify($themes) {
    color: themed('accent');
  }
}

    /* &--tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      & p {
        margin: 0;
        padding: 0.1em 0.3em;
        border-radius: 0.3em;
        transition: background-color 500ms ease-in-out,
                    color 1500ms ease-in-out,
                    text-shadow 1500ms ease-in-out;
        @include themify($themes) {
          background-color: themed('primary');
          color: themed('secondary');
          text-shadow: themed('text') 1px 0 5px;
        }
      }
    } */

/* .intro__image,
.project__image {
    border-radius: 1em 1em;
    transition: box-shadow 750ms ease-in-out;
    @include themify($themes) {
        box-shadow: themed('shadow');
    }
} */

/* @media (min-width: 600px) {
    .intro__image,
    .project__image {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }   
    
    .intro__subtitle {
      display: inline-block;
    }
    
    .intro__subtitle,
    .section__subtitle--project {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
} */