@import '../../../styles/theme-variables.scss';

.dark-mode-btn {
  position: absolute;
  top: 2em;
  right: 5em;
}

.checkbox {
  opacity: 0;
  position: absolute;
  &__label {
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include themify($themes) {
      background: themed('primary');
      border: 1px solid themed('background');
      transition: all 500ms ease-in-out;
    }
    &--ball {
      width: 21px;
      height: 22px;
      position: absolute;
      left: 1px;
      top: 1px;
      border-radius: 50%;
      transition: transform 0.2s linear;
      @include themify($themes) {
        background: themed('secondary');
        transition: all 500ms ease-in-out;
      }
    } 
    &--moon, &--sun {@include themify($themes) {
      color: themed('background');
      transition: color 500ms ease-in-out;
    }}
  }
}

.checkbox:checked + .checkbox__label .checkbox__label--ball {
  transform: translateX(24px);
}